* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Helvetica", Arial, sans-serif; }

.container {
  max-width: 1410px;
  margin: 0 auto; }

.container-fluid {
  width: 100%; }

.content {
  display: flex;
  height: 100vh; }

.row {
  display: flex;
  flex-direction: row; }
  .row.-flex-wrap {
    flex-wrap: wrap; }
  .row.-justify-space-between {
    justify-content: space-between; }
  .row.-align-items-center {
    align-items: center; }

._align-self-end {
  align-self: flex-end; }

.button {
  padding: 10px 15px;
  font-weight: 100px; }
  .button.-link {
    background-color: transparent;
    border: none;
    padding: 0; }
  .button.-medium {
    font-size: 24px; }
  .button.-small {
    font-size: 20px; }

.notification {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background-color: #444;
  color: #fff; }
  .notification.-yellow {
    background-color: #feac02; }
  .notification.-blue {
    background-color: #2a71ff; }
  .notification.-purple {
    background-color: #422a99; }
  .notification.-pink {
    background-color: #f85d81; }

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  overflow: hidden; }
  .avatar img {
    width: 100%; }

.status {
  width: 12px;
  height: 12px;
  border: 1px solid #fff;
  border-radius: 50%; }
  .status.-online {
    background-color: #7dd322; }

.side-bar {
  width: 300px; }
  .side-bar .side-bar-header {
    padding: 20px 30px;
    text-align: center;
    background-color: #202532; }
    .side-bar .side-bar-header h1 {
      text-transform: uppercase;
      color: #fff;
      font-weight: 100;
      letter-spacing: 4px; }
  .side-bar .side-bar-nav {
    background-color: #2e3546;
    height: inherit; }
    .side-bar .side-bar-nav .accordion {
      list-style: none; }
      .side-bar .side-bar-nav .accordion li {
        display: block; }
        .side-bar .side-bar-nav .accordion li a {
          display: flex;
          flex-direction: row;
          padding: 20px 0;
          color: #788195;
          text-decoration: none; }
          .side-bar .side-bar-nav .accordion li a:hover {
            color: #fff; }
          .side-bar .side-bar-nav .accordion li a span {
            flex: 1; }
          .side-bar .side-bar-nav .accordion li a i {
            padding: 0 20px; }
      .side-bar .side-bar-nav .accordion .accordion-menu:hover > ul {
        height: auto; }
      .side-bar .side-bar-nav .accordion .accordion-menu ul {
        transform: height 1s;
        overflow: hidden;
        height: auto;
        background-color: #202532; }
        .side-bar .side-bar-nav .accordion .accordion-menu ul li {
          padding-left: 56px; }

.main-content {
  flex: 1; }
  .main-content .nav-main {
    background-color: #FFF;
    border-bottom: 1px solid rgba(204, 204, 204, 0.8);
    padding: 0 20px;
    height: 68px; }
    .main-content .nav-main button {
      color: #323332;
      cursor: pointer; }
      .main-content .nav-main button:hover {
        opacity: .7; }
    .main-content .nav-main .search-form {
      display: flex;
      flex-direction: row;
      position: relative; }
      .main-content .nav-main .search-form .field {
        border: none;
        outline: none;
        padding: 10px;
        display: none; }
    .main-content .nav-main ul {
      list-style: none;
      margin: 0 20px; }
      .main-content .nav-main ul li button {
        padding: 0 20px;
        position: relative; }
        .main-content .nav-main ul li button span {
          position: absolute;
          top: -13px;
          right: 5px; }
    .main-content .nav-main .profile {
      position: relative; }
      .main-content .nav-main .profile span {
        position: absolute;
        right: 5px;
        bottom: 0; }

/*# sourceMappingURL=style.css.map */
