.side-bar-header {
  background-color: #202532;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  height: $size-bar-height;
  justify-content: center;
  align-items: center;

  h1 {
    text-transform: uppercase;
    color: #fff;
    font-weight: 100;
    letter-spacing: 4px;
  }
}
