.form {
  width: 100%;

  input,select {
    background: $white;
    border: 1px solid $border;
    height: 35px;
    text-indent: 10px;
    padding: 0 10px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 10px;
    outline: none;
  }

  .form-group {
    margin-bottom: 20px;
    display: flex;

    input {
      margin-bottom: 0;
    }
    &.-collapse {
      input, select, .input-icon {
        margin: 0;
        border-radius: none;
        margin-left: -1px;
        border-left: 1px solid $border;

        &:nth-child(1){
          border-radius: 5px 0 0 5px;
        }
        &:nth-last-child(1){
          border-radius: 0 5px 5px 0;
        }
      }
    }
  }

  .input-icon {
    display: flex;
    align-items: center;
    height: 35px;
    overflow: hidden;
    border: 1px solid $border;

    input,select {
      width: 100%;
      border: 0;
    }
    i {
      flex-shrink: 1;
      padding-right: 10px;
      color: #777;
    }
  }
}
