* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: "Helvetica", Arial, sans-serif;
}

h1,h2,h3,h4{
  color: $color-dark;
}
h2{
  font-size: 1.2em;
}
p{
  color: $color-grey;
}
