// COLORS
$white: #FFF;
$color-dark: #323332;
$color-grey: #7a7a7a;
$background: #f1f3f6;

// FONTS
$font-size-base: 16px;
$font-size-small: $font-size-base / 1.5;
$font-size-medium: $font-size-base * 1.5;
$font-size-large: $font-size-base * 2;

// SIZES RS
$size-bar-height: 80px;
