// COLORS
$white: #FFF;

// FONTS
$font-size-base: 16px;
$font-size-small: $font-size-base / 1.5;
$font-size-medium: $font-size-base * 1.5;
$font-size-large: $font-size-base * 2;
$size-bar-height: 80px;
